@import "tailwindcss";

body {
    background-color: black;
}

@font-face {
    font-family: Fondamento;
    src: url("../public/assets/fonts/Fondamento-Regular.ttf") format("truetype");
}
@theme {
    --font-title: Fondamento, "sans-serif";
}
