@import "tailwindcss";

body {
    background-color: black;
}

@font-face {
    font-family: Fondamento;
    src: url("../assets/fonts/Fondamento-Regular.ttf") format("truetype");
}
@theme {
    --font-title: Fondamento, "sans-serif";
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}