@import "tailwindcss";

@font-face {
  font-family: "Fondamento";
  src: url("/assets/fonts/Fondamento-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cubic";
  src: url("/assets/fonts/cubic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dune";
  src: url("/assets/fonts/Dune_Rise.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* C:\Users\Carl\Desktop\Github Projects\3d-game\public\assets\fonts\DePixelHalbfett.otf */
@font-face {
  font-family: "DePixelHalbfett";
  src: url("/assets/fonts/DePixelBreit.ttf");
  font-weight: normal;
  font-style: normal;
}

.font-title {
  font-family: "Dune", sans-serif;
}

.font-DePixelHalbfett {
  font-family: "DePixelHalbfett", sans-serif;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.room-clear-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s ease-out;
}
